<div class="panel panel-success">
	{{if .Article}}
	<div class="panel-heading">{{.Article.Title}}</div>
	<img src="/public/img/uploads/food.jpg" width="200px">
	<p>{{str2html .Article.Content}}</p>
	{{else}}
	<div class="panel-heading">{{.Kind.Name}}</div>
	{{end}}

	<div class="list-group">
		{{range .Articles}}
		<a class="list-group-item" href="/article/{{.Id}}" target="view_window">
		<h4>{{.Title}}      <small>[{{dateYMD .CreatedAt}}]</small></h4>
		<p>{{str2html .ContentAbstract}}...</p>
		</a>
		{{end}}
	</div>
</div>
