{{template "common/header.html" .}}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li {{if .IsHome}} class="active"{{end}}><a href="/">黄庭禅</a></li>
					{{range .Navs}}
					<li class="dropdown">
						<a href="{{.Uri}}" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
							{{.Name}}<span class="caret"></span>
						</a>
						<ul class="dropdown-menu"  role="menu">
							{{range .NavItems}}
							<li role="presentation"><a href="{{.Uri}}" class="menuitem">{{.Name}}</a></li>
							{{end}}
						</ul>
					</li>
					{{end}}

					<form class="navbar-form navbar-left" role="search">
						<input type="text" class="form-control" placeholder="Search">
						<button class="btn btn-default" type="submit">Search</button>
					</form>
				</ul>
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">

		</div>
		<div class="col-md-6 col-md-offset-1">
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
				</ol>   
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="/public/img/0.jpg"  alt="First slide" width="100%" height="50%">
					</div>
					<div class="item">
						<img src="/public/img/1.jpg" alt="Second slide" width="100%" height="150">
					</div>
					<div class="item">
						<img src="/public/img/2.jpg" alt="Third slide" width="100%" height="150">
					</div>
					<div class="item">
						<img src="/public/img/3.jpg" alt="Third slide" width="100%" height="150">
					</div>
					<div class="item">
						<img src="/public/img/4.jpg" alt="Third slide" width="100%" height="50">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="carousel-control left" href="#myCarousel" 
				data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" 
				data-slide="next">&rsaquo;</a>
			</div> 
			{{.LayoutContent}}
		</div>
		<div class="col-md-3">
			<div class="list-group">
				{{range .Hots}}
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">{{.Title}} <small>[{{dateYMD .CreatedAt}}]</small></h4>
					<p class="list-group-item-text">{{.ContentAbstract}}...</p>
				</a>
				{{end}}
			</div>
		</div>
	</div>
</div>

{{template "common/footer.html" .}}
