<div class="container col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li {{if .IsHome}} class="active"{{end}}><a href="/">黄庭禅</a></li>
		{{range .Navs}}
		<li role="presentation" class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
				{{.Name}}<span class="caret"></span>
			</a>
			<ul class="dropdown-menu"  role="menu">
				{{range .NavItems}}
				<li role="presentation"><a href="{{.Uri}}" class="menuitem">{{.Name}}</a></li>
				{{end}}
			</ul>
		</li>
		{{end}}
	</ul>
</div>

